---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?key=<mapquest_key>&limit=5&place=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.252 TT 0 0.277"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 1490,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL1739733W",
                    "type": "work",
                    "seed": [
                        "/books/OL17647447M",
                        "/books/OL18013506M",
                        "/books/OL17818168M",
                        "/books/OL17647449M",
                        "/books/OL18013510M",
                        "/books/OL17647448M",
                        "/books/OL18013508M",
                        "/books/OL17818169M",
                        "/books/OL17818170M",
                        "/books/OL17647451M",
                        "/books/OL176[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<mapquest_key>&location=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Sep 2022 17:02:58 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<mapquest_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-200851106"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<openweather_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664211730,"sunrise":1664196679,"sunset":1664239866,"temp":74.75,"feels_like":73.29,"pressure":1023,"humidity":29,"dew_point":40.41,"uvi":4.41,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":29,"wind_gust":4,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1664211600,"temp":74.75,"feels_like":73.29,"pressure":1023,"humidity":29,"dew_point":40.41,"uvi":4.41,"clouds":0,"visibility":10000,"wind_speed":2.04,"wind_deg":116,"wind_gust":2.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664215200,"temp":75.16,"feels_like":73.6,"pressure":1022,"humidity":26,"dew_point":37.98,"uvi":5.86,"clouds":0,"visibility":10000,"wind_speed":5.23,"wind_deg":75,"wind_gust":7.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1664218800,"temp":76.51,"feels_like":74.95,"pressure":1021,"humidity":23,"dew_point":36,"uvi":6.46,"clouds":0,"visibility":10000,"wind_speed":5.73,"wind_deg":70,"wind_gust":6.24,"weather":[{"id":800,"main":"Clea[...]
