---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?key=<mapquest_key>&limit=5&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.013 TT 0 0.013"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 0,
            "start": 0,
            "numFoundExact": true,
            "docs": [],
            "num_found": 0,
            "q": "",
            "offset": null
        }
  recorded_at: Tue, 27 Sep 2022 21:16:52 GMT
recorded_with: VCR 6.1.0
