---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?key=<mapquest_key>&limit=5&place=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.027 TT 0 0.033"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 1490,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL1739733W",
                    "type": "work",
                    "seed": [
                        "/books/OL17647447M",
                        "/books/OL18013506M",
                        "/books/OL17818168M",
                        "/books/OL17647449M",
                        "/books/OL18013510M",
                        "/books/OL17647448M",
                        "/books/OL18013508M",
                        "/books/OL17818169M",
                        "/books/OL17818170M",
                        "/books/OL17647451M",
                        "/books/OL176[...]
